snippet begin
\begin{$1}[$2]
	$0
\end{$1}
endsnippet

snippet document
\begin{document}
$0
\end{document}
endsnippet

snippet equation
\begin{equation}
	$0
\end{equation}
endsnippet

snippet aligned
\begin{aligned}
	$0
\end{aligned}
endsnippet

snippet	sframe
\begin{frame}[fragile]{\secname：\subsecname}
	$0
\end{frame}
endsnippet
