# all ignore
/*
/.**

!/.config/
!/.config/alacritty/
!/.config/alacritty/alacritty.yml
!/.config/fish/
!/.config/fish/config.fish
!/.config/coc/
!/.config/coc/extensions/
!/.config/coc/extensions/package.json
!/.config/karabiner/
!/.config/karabiner/assets/
!/.config/karabiner/assets/complex_modifications/
!/.config/karabiner/assets/complex_modifications/**
/.config/karabiner/automatic_backups/**
!/.config/vim/
!/.config/vim/**
!/.config/nvim/
!/.config/nvim/**
!/.config/yarn/
!/.config/yarn/global/
!/.config/yarn/global/package.json
!/.gitconfig
!/.gitignore_global
!/.latexmkrc
!/.irbrc
!/.p10k.zsh
!/.skhdrc
!/.tigrc
!/.tmux.conf
!/.vimrc
!/.vim/
!/.vim/*/
!/.vim/rc/
!/.vim/rc/**
!/.vim/vimrc
!/.vim/init.vim
!/.zshenv
!/.zshrc
!/.zsh/
!/.zsh/.zshrc
!/.zsh/**
.zsh_history
.zcompdump
/.config/nvim/plugin/packer_compiled.lua

!/.gitignore
!/.github/
!/.github/**
!/bin/
!/bin/**
!/README.md
!/Makefile
.DS_Store
